img {
  width: 200px;
}

body {
  font-family: sans-serif;
  background-color: #b4dcf9;
  color: #856063;
}

h1, h2 {
  text-align: center;
  line-height: 30px;
}

em {
  color: green;
}

ol {
  font-weight: bold;
}
